h2,h3{
    color: rgb(7, 7, 133);
}
#myrow{
    color: white;
    background-color: rgb(239, 238, 238);
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
#myfirstrow{
    background-color: rgb(11, 11, 141);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
#myfirstrow a{
    text-decoration: none;
    color: white;
}
a{
    text-decoration: none;
}
#myfirstrow a:hover{
    color: white;
   
}
.myfirstcol .col-lg-4{
    border: 2px solid rgb(14, 14, 129);

}
.myfirstcol h4{
    color: white;
  
}
.mycol3{
    background-color: rgb(19, 19, 107);
}
.my img{
    border-radius: 20px;
}
.images2 img{
    height: 80px;
    position: fixed;
    bottom: 5px;
    right: 10px;
}
.btn{
    background-color: rgb(21, 21, 130);
    color: white;
    padding:6px 25px ;
}
.mywhyrow{
    background-color: rgb(16, 16, 133);
    border-radius:40px ;
}
.images1 img{
    position: fixed;
    bottom: 30%;
    right: 10px;
    
}
.myrow1 h5, .myrow1 big{
    color: rgb(81, 80, 80);
}